[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"

[dev-packages]
flake8 = "*"
docformatter = "*"
black = "==19.10b0"

[requires]
python_version = "3.8"

[dev-packages.isort]
extras = [ "pipfile", "requirements",]
