{% extends 'base.html' %}
{% load static %}


<!-- Masthead-->
{% block content %}
<header class="masthead" style="background-image:None ;">
    <div class="row header-div-top" style="background-image: None; background-color:black;" >
        <div class="col-sm-4 offset-sm-4 pt-5 align-items-center justify-content-center text-center color-primary" >
            <h2 id="detail_product_name">Catalogue</h2>
        </div> 
    </div>
    {% block resultList %} 
        {% include 'catlog/results_list.html'%}
    {% endblock %}
</header>

{% endblock content %}
