{% extends 'base.html' %}
{% load static %}

{% block title %}Search {% endblock title %}

{% block content %}
<header class="masthead" style="background-image:None ;">
    <div class="row header-div-top mb-3" style=" background-color:black; background-image: url({{picture_head}});" >
        <div class="col-sm-4 offset-sm-4 pt-5 align-items-center justify-content-center text-center color-primary">
            <h2 class="pt-5">Résultats de votre recherche</h2>
            <h2 class="pt-5" id="detail_product_name">{{title}}</h2>
        </div> 
    </div>
    {% block resultList %} 
        {% include 'catlog/results_list.html'%}
    {% endblock %}
</header>
{% endblock content %}