{% extends 'base.html' %}
{% load static %}


<!-- Masthead-->
{% block content %}
<header class="masthead">
    <div class="container h-100 mt-4">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold" id="main-title">Du gras, oui, mais de qualité!</h1>
            </div>
            <div class="col-lg-8 align-self-baseline">
                <h2 class="text-white-75 font-weight-light mb-5" id="punch-line">Trouvez un produit de substitution pour ceux que vous consommez tous les jours</h2>
            </div>
            <div id="div-search-home"    class="col-lg-8 align-self-baseline">
                <form id="search-home" action="{% url 'catlog:search' %}"  method="get" accept-charset="utf-8">
                    <div class="form-row align-items-center">
                      <div class="col-auto">
                        <label class="sr-only" for="inlineFormInput">Produit</label>
                        <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Produit" id="main-form-input" name="query">
                      </div>
                      <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-2" id="main-form-button">Chercher</button>
                      </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</header>
<!-- Portfolio-->
<section class="page-section bg-primary" id="testify">
    <div id="portfolio" class="bg-primary">
        <div class="container-fluid p-0">
            <h2 class="text-center text-white mt-0" id="testify-title">Colette et Rémy</h2>
            <hr class="divider-light my-4" />
            <div class="row no-gutters" id="div-testify">
                <div class="col-lg-4 offset-lg-1 col-sm-6">
                    <a class="portfolio-box" href="assets/img/portfolio/fullsize/1.jpg"
                        ><img class="img-fluid" src="{% static 'dist/assets/img/portfolio/thumbnails/remy-4.jpg' %}" alt=""  id="pict-remy"/>
                        <div class="portfolio-box-caption">
                            <p class="text-white mb-5">Pour ma part je me rendais déjà dans bien des magasins car j'aime beaucoup me balader, surtout dans les caves et les cuisines. Je connaissais par coeur le contenu des boutiques bio (dont je raffole) ainsi que les ingrédients de tous les aliments vendus. Lorsque Colette m'a demandé si elle pouvait remplacer son Nutella matinal par un aliment plus sain, je savais tout de suite où le trouver. L'idée de Pur Beurre était née !</p>
                        </div></a
                    >
                </div>
                <div class="col-lg-4 offset-lg-2 col-sm-6">
                    <a class="portfolio-box" href="assets/img/portfolio/fullsize/2.jpg"
                        ><img class="img-fluid" src="{% static 'dist/assets/img/portfolio/thumbnails/colette-7.jpg' %}" alt="" id="pict-colette"/>
                        <div class="portfolio-box-caption">
                            <p class="text-white mb-5">Nous aimons tous manger, surtout en France ! Personnellement, une baguette fraîche, du bon fromage de chèvre et un bon vin rouge me suffisent amplement. Comme tout le monde, je fais mes courses au supermarché. Mais petit à petit je me suis rendue compte, surtout lorsque nous avons ouvert le restaurant, que je pouvais remplacer les produits aseptisés que j'avais l'habitude d'acheter par de bons produits du terroir Et souvent pour le même prix !</p>
                        </div></a
                    >
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0 text-muted-homemade">Contactez nous!</h2>
                <hr class="divider my-4" />
                <p class="text-muted-homemade mb-5">Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted-homemade"></i>
                <div class="text-muted-homemade">+1 (555) 123-4567</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted-homemade"></i>
                <!-- Make sure to change the email address in BOTH the anchor text and the link target below!--><a class="d-block text-muted-homemade" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
